@model Bmerketo.Models.Entities.CategoryEntity
@{
    ViewData["Title"] = "Detials ";
    Layout = "~/Views/Shared/_LayoutCenterScreen.cshtml";
}
<div class="Row text">
    <div class="col-md-8" offset-2>
        <p> <h1>Detials</h1></p>
        <div class="Row">
            <div class="col-md-8" offset-2>

                <div asp.asp-validation-summary="ModelOnly" class="text-danger">
                </div>
                <div class="form-group">
                    <label asp-for="CategoryName"></label>
                    <input asp-for="CategoryName" class="form-control" readonly />

                </div>
                <div class="form-group">
                    <a class="btn btn-outline-secondary" asp-action="Index">Show All</a>
                </div>


            </div>
        </div>
    </div>
</div>