
<footer class="bg-dark text-center text-white-50">

    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: #292929">
        &copy;
        @DateTime.Now.Year
        <a class="text-reset" href="#">bmarketo.</a>
        All right reserved.
    </div>
    <!-- Copyright -->
</footer>
